.notification-wrapper {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1;
  width: auto;
  max-width: 400px;
  padding: 0;
}

.notification-alert {
  margin-bottom: 0;
  text-align: center;
  padding: 0.4rem 0.8rem;
  box-sizing: border-box;
}
